@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: outfit;
}
body{
  background: #dadada;
}
a{
text-decoration: none;
color: inherit;
}
nav{
display: flex;
align-items: center;
justify-content: flex-start;
background: #090a0b;
padding: 10px 20px;
color: #fff;
}
.nav-country{
display: flex;
align-items: end;
margin-left: 15px;
color: #c4c4c4;
}
.nav-search{
  flex: 1;
  display: flex;
  align-items: center;
  background: #fff;
  color: gray;
  max-width: 1000px;
  border-radius: 5px;
  margin-left: 100px;
}
.nav-search-category{
display: flex;
align-items: center;
padding: 10px 20px;
gap: 5px;
background: #e5e5e5;
border-radius: 4px 0 0 4px;
}
.nav-search-input{
border: none;
outline: none;
padding-left: 20px;
width: 100%;
}
.nav-search-icon{
max-width: 41px;
padding: 8px;
background: #ffd64f;
border-radius: 0 4px 4px 0;
}
.nav-bottom{
display: flex;
align-items: center;
gap: 20px;
padding: 8px 20px;
background: #232f3e;
color: rgb(153, 153, 168);
font-size: 15px;
}
.nav-bottom div{
display: flex;
align-items: center;
gap: 50px;
font-weight: 500;
}
 .nav ul a{
display: flex;
color:white;
align-items: center;
gap: 40px;
font-size: 20px;
text-transform: uppercase;


 }
 
/* section style */

.border-top-0 {
  border-top: 0 !important;
}
.justify-content-center {
  justify-content: center !important;
}
.gx-4 {
  --bs-gutter-x: 1.5rem;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.container-sm {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}
body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.py-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}
.mb-5 {
  margin-bottom: 3rem !important;
}
.mb-xl-1 {
  margin-bottom: 0.25rem !important;
}
.row-cols-2 > * {
  flex: 0 0 auto;
  width: 50%;
}
.col {
  flex: 1 0 0%;
}
.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}
.card-img,
.card-img-top,
.card-img-bottom {
  width: 100%;
}
.card-img,
.card-img-top {
  border-top-left-radius: var(--bs-card-inner-border-radius);
  border-top-right-radius: var(--bs-card-inner-border-radius);
}

.card-body {
  flex: 1 1 auto;
  padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
  color: var(--bs-card-color);
}
.text-center {
  text-align: center !important;
}
.position-absolute {
  position: absolute !important;
}
.text-white {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
}
.bg-dark {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}
.row-cols-md-3 > * {
  flex: 0 0 auto;
  width: 33.3333333333%;
}
svg {
  vertical-align: middle;
}
.p-4 {
  padding: 1.5rem !important;
}
.card-body {
  flex: 1 1 auto;
  padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
  color: var(--bs-card-color);
}
.mt-auto {
  margin-top: auto !important;
}

a {
  color: var(--bs-link-color);
  text-decoration: underline;
}

.text-center {
  text-align: center !important;
}
.bg-transparent {
  --bs-bg-opacity: 1;
  background-color: transparent !important;
}
.card-footer {
  padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
  color: var(--bs-card-cap-color);
  background-color: var(--bs-card-cap-bg);
  border-top: var(--bs-card-border-width) solid var(--bs-card-border-color);
}
img,
svg {
  vertical-align: middle;
}

.bg-dark {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}
.py-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}
.footer{
  background: #0e0e0f;
  padding: 50px 0%;
  }
  .footer-col{
  width: 25%;
  padding: 30px 15px;
  background:#0e0e0f ;
  }
  .footer-col h4{
  font-size: 30px;
  color: #f8f1f1;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
  }
  .footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2%;
    box-sizing: border-box;
    width: 100px;
  }
  .footer-col ul li :not(:last-child){
    margin-bottom: 10px;
  }
  .footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
  }
  .footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 10px;
  }
  .footer-col .social-links-col a{
  display: inline-block;
  margin-right: 35px;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #978b8b;
  transition: all 0.5s ease;
  }
  .footer-col .social-links-col a:hover{
    color: #4d4f53;
    background-color: #ffffff;
  }
  /*responsive*/
  /* @media(max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
  }
  @media(max-width: 574px){
    .footer-col{
        width: 100%;
    }
  } */